extends base

block content
  if errorMessege
    h4= errorMessege
  form(method="POST")
    input(name="oldPassword", type="password", placeholder="현재 비밀번호")
    input(name="newPassword", type="password", placeholder="새 비밀번호") 
    input(name="validNewPassword", type="password", placeholder="새 비밀번호 확인") 
    input(type="submit", value="비밀번호 변경")
